/**
 * APP.CSS
 * Layout set-up for creating common app layouts
 *
 * Z-INDEX:
 * 	5 	= .vw-bdy-inner
 * 	10 	= .vw-inner > header
 * 	10 	= .vw-jumper
 * ------------------------------------------------------*/


/* VIEWS POSITIONS */
section[data-position = 'home']		{ moz-transform: translate(0, 0); }

.vw-right,
section[data-position = 'right']		{ -moz-transform: translateX(100%); }

.vw-left,
section[data-position = 'left']			{ -moz-transform: translateX(-100%); }

.vw-top,
section[data-position = 'top']			{ -moz-transform: translateY(-100%); }

.vw-bottom,
section[data-position = 'down']		{ -moz-transform: translateY(100%); }

.vw-fade								{ opacity: 0; }
.vw-scale								{ -moz-transform: scale(0.2); -moz-transform-origin: center center; }
.vw-flip 								{ -moz-transform: rotateY(180deg); }
.vw-flip-revert							{ -moz-transform: rotateY(-180deg); }


/* VIEW */
.view, section[data-position] {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	-moz-transition: all 0.4s ease;
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;
}
	.vw-inner {
		width: 100%;
		height: 100%;
		display: -moz-box;
		-moz-box-orient: vertical;
		overflow: hidden;
		border-radius: 0.8rem;
	}

		/* COMMON SET-UP */
		.vw-inner > header, .vw-inner > nav a { height: 4.8rem; }
		.vw-inner > header, .vw-inner > nav {
			overflow: hidden;
			position: relative;
			color: #fff;
			background-image: -moz-linear-gradient(top, #cc6523, #bb492d);
		}


		/* HEADER */
		.vw-inner > header {
			background-color: #ff6400;
			box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px -4px rgba(0, 0, 0, 0.99);
			position: relative;
			z-index: 10;
		}
			.vw-inner > header a { display: block; padding: 1rem;  }
			.vw-inner > header h1 {
				font: 2.1rem/4.8rem System Sans Light, Sans-serif;
				text-align: left;
				text-overflow: ellipsis;
				display: block;
				overflow: hidden;
				margin-left: 3rem;
				height: 100%
			}

			/* Back button */
			.vw-inner > header p { float: left; }
				.vw-inner > header p a {
					padding: 1.1rem 0.7rem 1rem 1px;
					background: rgba(0, 0, 0, 0.1);
					border-right: solid 1px rgba(0, 0, 0, 0.2);
					box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3);
				}

			/* Generic actions in header */
			.vw-inner > header ul { height: 100%; float: right; letter-spacing: -0.4rem;  }
				.vw-inner > header li {
					height: 50%;
					border-left: solid 1px rgba(255, 255, 255, 0.3);
					border-right: solid 1px rgba(0, 0, 0, 0.2);
					display: inline-block;
					vertical-align: middle;
					letter-spacing: 0;
				}
				.vw-inner > header li:first-child { border-left: none; }
				.vw-inner > header li:last-child { border-right: none; }

					.vw-inner > header ul a { margin-top: -25%; }
					.vw-inner > header ul:before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						width: 1px;
						height: 100%;
						margin-left: -1px;
					}


		/* BODY */
		.vw-inner > article { position: relative; -moz-box-flex: 1; height: 0; }
			.vw-bdy-inner {
				overflow: auto;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				z-index: 5;
				width: 100%;
				-moz-box-sizing: border-box;
				padding: 1.4rem 2rem;
				background: #f4f4f4;
				color: #333;
				text-align: left;
			}

			/* Removes scroll from the view body inner */
			.vw-noscroll .vw-bdy-inner { width: -moz-calc(100% + 0.8rem); }


		/* NAV */
		.vw-inner > nav { background: #000; }
			.vw-inner > nav ul {
				width: 100%; 
				display: -moz-box;
				-moz-box-orient: horizontal;
				-moz-box-pack: center;
				-moz-box-align: center;
				-moz-box-sizing: border-box;
			}
				.vw-inner > nav li {
					-moz-box-flex: 1;
					width: 0;
					height: 100%;
					text-align: center;
					border-right: solid 1px rgba(255, 255, 255, 0.1);
				}
				.vw-inner > nav li:last-child { border: none; }
					.vw-inner > nav a { display: block; color: #fff; }
						.vw-inner > nav a:before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: 1px;
							height: 100%;
							margin-left: -1px;
						}

					.vw-inner > nav[data-labels="true"] a { position: relative; }
						.vw-inner > nav[data-labels="true"] i { margin-top: -2rem; }
						.vw-inner > nav[data-labels="true"] a:after {
							content: attr(title);
							font: 1.2rem/2rem System Sans Semibold, Sans-serif;
							text-align: center;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							white-space: nowrap;
						} 


		/* JUMPER: Goes directly to some point in the scroll; */
		.vw-jumper {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 1rem;
			z-index: 10;
		}
			.vw-jumper:active .vw-jmp-inner, .vw-jumper.active .vw-jmp-inner  { background: #999; }
			.vw-jmp-current {
				position: absolute;
				right: 4rem;
				top: 30%;
				width: 10.5rem;
				background: rgba(0, 0, 0, 0.7);
				font: 6rem/10.5rem System Sans Light, Sans-serif;
				color: #fff;
				text-align: center;
				pointer-events: none;
			}
			.vw-jmp-inner {
				display: -moz-box;
				-moz-box-orient: vertical;
				height: 100%;
				padding: 0.3rem 0;
				border-radius: 4rem;
				opacity: 0.6;
			}
				.vw-jumper li {
					font-size: 1.1rem;
					line-height: 1em;
					text-align: center;
					text-transform: uppercase;
					-moz-box-flex: 1;
					width: 2.5rem;
				}
					.vw-jmp-inner a, .vw-jmp-inner abbr { display: block; color: #333; width: 100%; }
						.vw-jmp-inner i { width: 1.2rem; height: 1.2rem; }










