<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="pragma" content="no-cache">
		<title>Grid</title>

		<!-- BOOTZILLA -->
		<link rel="stylesheet" type="text/css" href="../../style/css/package.css">
		<script type="text/javascript" src="../../js/base/responsive.js"></script>

		<!-- DOCS: basic styles used for the documentation; -->
		<style type="text/css">
			.docs, .item { margin-bottom: 1rem; }
		</style>
	</head>
	<body role="application">
		<section role="window">
			<header role="toolbar">
				<h1>.grid</h1>
			</header>
			<section role="region">
				<p class="docs">Uses -moz-box, and could be vertical or horizontal</p>
				
				<div style="height: 15rem">
					<ul class="grid grd-vertical">
						<li><a href="#">4</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>

				<ul class="grid">
					<li><a href="#">4</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">4</a></li>
				</ul>

				<ul class="grid">
					<li><a href="#">3</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">3</a></li>
				</ul>

				<ul class="grid">
					<li><a href="#">2</a></li>
					<li><a href="#">2</a></li>
				</ul>

				<div class="grid">
					<p><a href="#">1</a></p>
				</div>
			</section>
		</section>
	</body>
</html>